<h3>Driver entity</h3>

<br><br>

<form action="#" method="POST">

  <label for="id">Id:</label>
  <input type="text" id="id" name="id" th:value="${driver?.id}">
  <br><br>

  <label for="name">Namer:</label>
  <input type="text" id="name" name="name" th:value="${driver?.name}">
  <button type="button" onclick="queryHead('name', 'id', 'id', 'queryname', '/driver/query/head/0', 'consultas');">Buscar</button>
  <br><br>

  <label for="surname">Surname:</label>
  <input type="text" id="surname" name="surname" th:value="${driver?.surname}">
  <button type="button" onclick="queryHead('surname', 'id', 'id', 'querysurname', '/driver/query/head/0', 'consultas');">Buscar</button>
  <br><br>

  <label for="workedhours">Capacity:</label>
  <input type="text" id="workedhours" name="workedhours" th:value="${driver?.workedhours}">
  <br><br>

  <label for="status">Status:</label>
  <select id="status" name="status" size="1">
    <option th:value="WORK" th:text="WORK" selected></option>
    <option th:value="REST" th:text="REST"></option>
  </select>
  <br><br>

  <br><br>

  <input type="button" value="Save" onclick="saveDriver();">

</form>

<br><br>

<button type="button" onclick="newDriver();">New truck</button>
<button type="button" onclick="delDriver();">Delete truck</button>

