<div id="queryHead">

  <h3>Driver query head</h3>

  <div id="valor"></div>
  <div id="origenFd"></div>
  <div id="destinoId"></div>

  <label for="queryname">Name:</label>
  <input type="text" id="queryname" name="queryname">

  <label for="querystatus">Status:</label>
  <select id="querystatus" name="querystatus">
    <option th:each="Opt : ${statusValues}"
            th:value="${Opt}"
            th:text="${Opt}"></option>
  </select>
  <br>

  <label for="querycityname">City:</label>
  <input type="hidden" id="querycityid" name="querycityid" size="4" readonly>
  <input type="text" id="querycityname" name="querycityname" readonly>
  <br>

  <button type="button" id="search" th:attr="onClick=|findDriver(${mode});|">Search</button>

  <hr>

</div>

<div id="queryBody">

</div>
