<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="js/base.js"></script>

</head>
<body>

<div class="container my-2" align="center">
    <h3 th:text="${prueba}"></h3>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Weight</th>
            <th>Status</th>
            <th>CityId0</th>
            <th>CityId1</th>
            <th>Address0</th>
            <th>Address1</th>
            <th>Upload</th>
            <th>Unload</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cargo:${queryList}">
            <td th:text="${cargo?.id}"></td>
            <td th:text="${cargo?.name}"></td>
            <td th:text="${cargo?.weight}"></td>
            <td th:text="${cargo?.status}"></td>
            <td th:text="${cargo?.CityId0}"></td>
            <td th:text="${cargo?.CityId1}"></td>
            <td th:text="${cargo?.Address0}"></td>
            <td th:text="${cargo?.Address1}"></td>
            <td th:text="${cargo?.upload}"></td>
            <td th:text="${cargo?.unload}"></td>
            <td><button type="button" th:attr="onclick=|prueba('/cargo/${cargo?.id}', 'principal');|">Select</button></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>