<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <script src="js/base.js"></script>

</head>
<body>

<div class="container my-2" align="center">
  <h3 th:text="${prueba}"></h3>
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Worked Hours</th>
      <th>Status</th>
      <th>Order Id</th>
      <th>City Id</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="driver:${queryList}">
      <td th:text="${driver?.id}"></td>
      <td th:text="${driver?.name}"></td>
      <td th:text="${driver?.surname}"></td>
      <td th:text="${driver?.workedHours}"></td>
      <td th:text="${driver?.status}"></td>
      <td th:text="${driver?.orderId}"></td>
      <td th:text="${driver?.cityId}"></td>

      <td><button type="button" th:attr="onclick=|prueba('/driver/${driver?.id}', 'principal');|">Select</button></td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>