<h3>City query body</h3>

<!--Prueba: <span th:hidden="${prueba}"></span><br>-->
<!--Mode: --><span th:hidden="${mode}"></span><br>

<table border="1px">
    <thead>
    <tr>
        <!--<th>Id</th>-->
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cityq:${cityList}">
        <!--<td th:text="${cityq?.id}"></td>-->
        <td th:text="${cityq?.name}"></td>

        <td>
            <span th:if="${mode == 0}">
                <button type="button" th:attr="onClick=|loadCity(${cityq?.id});|">Select</button>
            </span>
            <span th:unless="${mode == 0}">
                <button type="button" th:attr="onClick=|querySelectById(${cityq?.id});|">Select</button>
            </span>
        </td>

    </tr>
    </tbody>
</table>