<div id="queryHead">

  <h3>Truck query head</h3>

  <div id="valor"></div>
  <div id="origenFd"></div>
  <div id="destinoId"></div>

  <label for="querynumber">Number:</label>
  <input type="text" id="querynumber" name="querynumber">

  <label for="querystatus">Status:</label>
  <select id="querystatus" name="querystatus" size="1">
    <option value="0" selected>OK</option>
    <option value="1">NOK</option>
  </select>

  <button type="button" id="search" th:attr="onClick=|findTruck(${mode});|">Search</button>

  <hr>

</div>

<div id="queryBody">

</div>