

html, body {
    height: 100%;
}

body {
    font-family: "Segoe UI", sans-serif;
    font-size:100%;
}

li {
    cursor: pointer;
}

div.contenedor {
    display: flex;
    flex-wrap: wrap;
}

div.menu {
    flex: 0 0 225px;
    box-shadow: 5px 10px 10px #888888;
    background-color: #ededed;
    height: 100vh;
    padding: 25px;
    overflow: auto;
}

div.principal {
    flex: 1.7;
    box-shadow: 5px 10px 15px #888888;
    background-color: #ededed;
    height: 100vh;
    padding: 25px 50px;
    overflow: auto;
}

div.consultas {
    flex: 1.3;
    box-shadow: 5px 10px 20px #888888;
    background-color: #ededed;
    height: 100vh;
    padding: 25px;
    overflow: auto;
}


@media (max-width: 1500px) {
    div.menu {
        flex: 100%;
        height: auto;
    }
    div.principal {
        flex: 100%;
        height: auto;
    }
    div.consultas {
        flex: 100%;
        height: auto;
    }
    div + div {
        margin-top: 30px;
    }
}

@media (min-width: 1500px) {
    div + div {
        margin-left: 30px;
    }
}

#cargoTable td {
    text-align: center;
    vertical-align: middle;
}

#cargoTable tr > *:nth-child(3) {
    display: none;
}
#cargoTable tr > *:nth-child(4) {
    display: none;
}
