<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Cargo</title>

  <script>
    function newCargo() {
      document.getElementById("id").value = "";
      document.getElementById("name").value = "";
      document.getElementById("name").focus();
      document.getElementById("weight").value = "";
      document.getElementById("status").value = "";
      document.getElementById("CityId0").value = "";
      document.getElementById("CityId1").value = "";
      document.getElementById("Address0").value = "";
      document.getElementById("Address1").value = "";
      document.getElementById("upload").value = "";
      document.getElementById("unload").value = "";
    }

    function delCargo() {
      alert("Opción no disponible");
    }

  </script>


</head>
<body>

  <h3>Cargos</h3>
  <br><br>

  <form action="/cargo/save" method="post">
    <label for="id">Id:</label>
    <input type="text" id="id" name="id" th:value="${cargo?.id}">
    <button type="button" th:attr="onclick=|httpRequest('/queries', true, 'cargo', 'id', 'consultas');|">Buscar</button>
    <br><br>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:value="${cargo?.name}">
    <button type="button" th:attr="onclick=|httpRequest('/queries', false, 'cargo', 'name', 'consultas');|">Buscar</button>
    <br><br>
    <label for="weight">Weight:</label>
    <input type="text" id="weight" name="weight" th:value="${cargo?.weight}">
    <button type="button" th:attr="onclick=|httpRequest('/queries', true, 'cargo', 'weight', 'consultas');|">Buscar</button>
    <br><br>
    <label for="status">Status:</label>
    <input type="text" id="status" name="status" th:value="${cargo?.status}">
    <button type="button" th:attr="onclick=|httpRequest('/queries', false, 'cargo', 'status', 'consultas');|">Buscar</button>
    <br><br>
    <label for="CityId0">CityId0:</label>
    <input type="text" id="CityId0" name="CityId0" th:value="${cargo?.CityId0}">
    <button type="button" th:attr="onclick=|httpRequest('/queries', true, 'cargo', 'CityId0', 'consultas');|">Buscar</button>
    <br><br>
    <label for="CityId1">CityId1:</label>
    <input type="text" id="CityId1" name="CityId1" th:value="${cargo?.CityId1}">
    <button type="button" th:attr="onclick=|httpRequest('/queries', true, 'cargo', 'CityId1', 'consultas');|">Buscar</button>
    <br><br>
    <label for="Address0">Address0:</label>
    <input type="text" id="Address0" name="Address0" th:value="${cargo?.Address0}">
    <button type="button" th:attr="onclick=|httpRequest('/queries', true, 'cargo', 'Address0', 'consultas');|">Buscar</button>
    <br><br>
    <label for="Address1">Address1:</label>
    <input type="text" id="Address1" name="Address1" th:value="${cargo?.Address1}">
    <button type="button" th:attr="onclick=|httpRequest('/queries', true, 'cargo', 'Address1', 'consultas');|">Buscar</button>
    <br><br>
    <label for="upload">Upload:</label>
    <input type="text" id="upload" name="upload" th:value="${cargo?.upload}">
    <button type="button" th:attr="onclick=|httpRequest('/queries', true, 'cargo', 'upload', 'consultas');|">Buscar</button>
    <br><br>
    <label for="unload">Unload:</label>
    <input type="text" id="unload" name="unload" th:value="${cargo?.unload}">
    <button type="button" th:attr="onclick=|httpRequest('/queries', true, 'cargo', 'unload', 'consultas');|">Buscar</button>
    <br><br>
    <input type="submit" value="Save">
  </form>

  <button type="button" onclick="newCargo();">New</button>
  <button type="button" onclick="delCargo();">Delete</button>

</body>
</html>