<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>City</title>

  <script>
    function newCity() {
      document.getElementById("id").value = "";
      document.getElementById("name").value = "";
      document.getElementById("name").focus();
    }

    function delCity() {
      alert("Opción no disponible");
    }

  </script>


</head>
<body>

  <h3>City</h3>
  <br><br>

  <form action="/city/save" method="post">
    <label for="id">Id:</label>
    <input type="text" id="id" name="id" th:value="${city?.id}">
    <button type="button" th:attr="onclick=|httpRequest('/queries', true, 'city', 'id', 'consultas');|">Buscar</button>
    <br><br>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:value="${city?.name}">
    <button type="button" th:attr="onclick=|httpRequest('/queries', false, 'city', 'name', 'consultas');|">Buscar</button>
    <br><br>
    <input type="submit" value="Save">
  </form>

  <button type="button" onclick="newCity();">New</button>
  <button type="button" onclick="delCity();">Delete</button>

</body>
</html>