<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Distances</title>

  <script>
    function newDistance() {
      document.getElementById("id").value = "";
      document.getElementById("distance").value = "";
      document.getElementById("distance").focus();
      document.getElementById("time").value = "";
      document.getElementById("city0").value = "";
      document.getElementById("city1").value = "";
    }

    function delDistance() {
      alert("Opción no disponible");
    }

  </script>
</head>
<body>
  <h3>Distance</h3>
  <br><br>

  <form action="/distance/save" method="post">
    <label for="id">Id:</label>
    <input type="text" id="id" name="id" th:value="${distance?.id}">
    <button type="button" th:attr="onclick=|httpRequest('/queries', true, 'distance', 'id', 'consultas');|">Buscar</button>
    <br><br>
    <label for="distance">Distance:</label>
    <input type="text" id="distance" name="distance" th:value="${distance?.distance}">
    <button type="button" th:attr="onclick=|httpRequest('/queries', true, 'distance', 'distance', 'consultas');|">Buscar</button>
    <br><br>
    <label for="time">Estimated time:</label>
    <input type="text" id="time" name="time" th:value="${distance?.time}">
    <button type="button" th:attr="onclick=|httpRequest('/queries', true, 'distance', 'time', 'consultas');|">Buscar</button>
    <br><br>
    <label for="city0">City0:</label>
    <input type="text" id="city0" name="city0" th:value="${distance?.city0}">
    <button type="button" th:attr="onclick=|httpRequest('/queries', true, 'distance', 'city0', 'consultas');|">Buscar</button>
    <br><br>
    <label for="city1">City1:</label>
    <input type="text" id="city1" name="city1" th:value="${distance?.city1}">
    <button type="button" th:attr="onclick=|httpRequest('/queries', true, 'distance', 'city1', 'consultas');|">Buscar</button>
    <br><br>
    <input type="submit" value="Save">
  </form>
  <button type="button" onclick="newDistance();">New</button>
  <button type="button" onclick="delDistance();">Delete</button>
</body>
</html>