<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Drivers</title>

  <script>
    function newDriver() {
      document.getElementById("id").value = "";
      document.getElementById("name").value = "";
      document.getElementById("name").focus();
      document.getElementById("surname").value = "";
      document.getElementById("workedHours").value = "";
      document.getElementById("status").value = "";
      document.getElementById("orderId").value = "";
      document.getElementById("cityId").value = "";
    }

    function delDriver() {
      alert("Opción no disponible");
    }

  </script>
</head>
<body>
<h3>Driver</h3>
<br><br>

<form action="/driver/save" method="post">
  <label for="id">Id:</label>
  <input type="text" id="id" name="id" th:value="${driver?.id}">
  <button type="button" th:attr="onclick=|httpRequest('/queries', true, 'driver', 'id', 'consultas');|">Buscar</button>
  <br><br>
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" th:value="${driver?.name}">
  <button type="button" th:attr="onclick=|httpRequest('/queries', false, 'driver', 'name', 'consultas');|">Buscar</button>
  <br><br>
  <label for="surname">Surname:</label>
  <input type="text" id="surname" name="surname" th:value="${driver?.surname}">
  <button type="button" th:attr="onclick=|httpRequest('/queries', false, 'driver', 'surname', 'consultas');|">Buscar</button>
  <br><br>
  <label for="workedHours">Worked hours:</label>
  <input type="text" id="workedHours" name="workedHours" th:value="${driver?.workedHours}">
  <button type="button" th:attr="onclick=|httpRequest('/queries', true, 'driver', 'workedHours', 'consultas');|">Buscar</button>
  <br><br>
  <label for="status">Status:</label>
  <input type="text" id="status" name="status" th:value="${driver?.status}">
  <button type="button" th:attr="onclick=|httpRequest('/queries', false, 'driver', 'status', 'consultas');|">Buscar</button>
  <br><br>
  <label for="orderId">Order Id:</label>
  <input type="text" id="orderId" name="orderId" th:value="${driver?.orderId}">
  <button type="button" th:attr="onclick=|httpRequest('/queries', true, 'driver', 'orderId', 'consultas');|">Buscar</button>
  <br><br>
  <label for="cityId">City Id:</label>
  <input type="text" id="cityId" name="cityId" th:value="${driver?.cityId}">
  <button type="button" th:attr="onclick=|httpRequest('/queries', true, 'driver', 'cityId', 'consultas');|">Buscar</button>
  <br><br>
  <input type="submit" value="Save">
</form>
<button type="button" onclick="newDistance();">New</button>
<button type="button" onclick="delDistance();">Delete</button>
</body>
</html>