<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Truck</title>

  <script>
    function newTruck() {
      document.getElementById("id").value = "";
      document.getElementById("number").value = "";
      document.getElementById("number").focus();
      document.getElementById("capacity").value = "";
      document.getElementById("status").value = "";
      document.getElementById("CityId").value = "";
    }

    function delTruck() {
      alert("Opción no disponible");
    }

  </script>


</head>
<body>

<h3>Truck</h3>
<br><br>

<form action="/truck/save" method="post">
  <label for="id">Id:</label>
  <input type="text" id="id" name="id" th:value="${truck?.id}">
  <button type="button" th:attr="onclick=|httpRequest('/queries', true, 'truck', 'id', 'consultas');|">Buscar</button>
  <br><br>
  <label for="number">Number:</label>
  <input type="text" id="number" name="number" th:value="${truck?.number}">
  <button type="button" th:attr="onclick=|httpRequest('/queries', false, 'truck', 'number', 'consultas');|">Buscar</button>
  <br><br>
  <label for="capacity">Capacity:</label>
  <input type="text" id="capacity" name="capacity" th:value="${truck?.capacity}">
  <button type="button" th:attr="onclick=|httpRequest('/queries', true, 'truck', 'capacity', 'consultas');|">Buscar</button>
  <br><br>
  <label for="status">Status:</label>
  <input type="text" id="status" name="status" th:value="${truck?.status}">
  <button type="button" th:attr="onclick=|httpRequest('/queries', false, 'truck', 'status', 'consultas');|">Buscar</button>
  Options: OK, NOK
  <br><br>
  <label for="CityId">CityId:</label>
  <input type="text" id="CityId" name="CityId" th:value="${truck?.CityId}">
  <button type="button" th:attr="onclick=|httpRequest('/queries', true, 'truck', 'CityId', 'consultas');|">Buscar</button>
  <br><br>
  <input type="submit" value="Save">
</form>

<button type="button" onclick="newTruck();">New</button>
<button type="button" onclick="delTruck();">Delete</button>

</body>
</html>