<div id="queryHead">

  <h3>Order query head</h3>

  <div id="valor"></div>
  <div id="origenFd"></div>
  <div id="destinoId"></div>

  <label for="queryid">Id:</label>
  <input type="text" id="queryid" name="queryid">

  <label for="querycompleted">Completed:</label>
  <select id="querycompleted" name="querycompleted" size="1">
    <option value="0" selected>NO</option>
    <option value="1">YES</option>
  </select>

  <button type="button" id="search" th:attr="onClick=|findOrder(${mode});|">Search</button>

  <hr>

</div>

<div id="queryBody">

</div>