<div id="queryHead">

  <h3>Order query head</h3>

  <!--Mode: --><span th:hidden="${mode}"></span><br>

  <div id="valor"></div>
  <div id="origenFd"></div>
  <div id="destinoId"></div>

  <label for="queryid">Id:</label>
  <input type="text" id="queryid" name="queryid">

  <label for="querycompleted">Completed:</label>
  <select id="querycompleted" name="querycompleted">
    <option th:each="compOpt : ${completedValues}"
            th:value="${compOpt}"
            th:text="${compOpt}"
            th:selected="${compOpt} == ${order?.completed}"></option>
  </select>

  <button type="button" id="search" th:attr="onClick=|findOrder(${mode});|">Search</button>

  <hr>

</div>

<div id="queryBody">

</div>