<h3>Cargo query body</h3>

Prueba: <span th:text="${prueba}"></span><br>
Mode: <span th:text="${mode}"></span><br>

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Number</th>
    <th>Status</th>
    <th>------</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="cargoq:${cargoList}">
    <td th:text="${cargoq?.id}"></td>
    <td th:text="${cargoq?.name}"></td>
    <td th:text="${cargoq?.status}"></td>

    <!--        <td><button type="button" th:attr="onClick=|loadCargo(${cargoq?.id});|">Select</button></td> -->

    <td>
            <span th:if="${mode == 0}">
                <button type="button" th:attr="onClick=|loadCargo(${cargoq?.id});|">Select</button>
            </span>
      <span th:unless="${mode == 0}">
                <button type="button" th:attr="onClick=|querySelectById(${cargoq?.id});|">Select</button>
            </span>
    </td>


  </tr>
  </tbody>
</table>